.card-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@keyframes appearance {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.card-list__item {
  animation: appearance 0.3s ease forwards;
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 16px;
  background-color: #eee;
  gap: 8px;
}

.card-list__drag-handle {
  background: none;
  border: none;
  cursor: grab;
  font-size: 1.5rem;
  padding: 0 8px;
}

.card-list__drag-handle:active {
  cursor: grabbing;
}