.list {
  padding: 16px;
  width: 100%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list__wrapper-btns {
  width: 100%;
  display: flex;
  gap: 16px;
  margin: 0 0 20px;
}

.list__btn {
  width: 100%;
  cursor: pointer;
  border: none;
  background-color: #3d3bff;
  color: #fff;
  border-radius: 16px;
  font-size: 16px;
  padding: 8px;
}

.list__btn--danger {
  background-color: #ff3b3b;
}