:root {
  font-family: sans-serif;
}

body {
  background-color: #f5f5f5;
}

.goods-list {
  padding: 0;
  margin: 50px auto 150px;
  list-style-type: none;
  max-width: 1025px;
  display: grid;
  grid-template-columns: repeat(4, 230px);
  gap: 35px;
}

.goods-list__item {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  background: white;
  border-radius: 15px;
}

.card__img {
  border-radius: 10px;
  margin: 0 0 10px;
}

.card__price {
  display: flex;
  align-items: center;
  margin: 0 0 15px;
  gap: 10px;
}

.card__price-same {
  color: black;
  margin: 0 0 15px;
}

.card__price-new {
  color: green;
}

.card__price-old {
  text-decoration: line-through;
  font-size: 12px;
  opacity: 0.5;
}

.card__title {
  margin: 0;
}